<header class="navbar justify-content-end justify-content-sm-between">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width:100%">
      <a class="navbar-brand" href="/">EMR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/add_user">Add User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add_patient">Add Patient</a>
          </li>
        </ul>
          <ul class ="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/logout">logout</a>
            </li>
          </ul>
      </div>
    </nav>
    </header>
    