<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>

<!-- Header -->
<header class="bg-dark py-5 mb-4">
    <div class="container">
      <h2 class="font-weight-bold text-white text-uppercase">Welcome Admin</h2>
    </div>
  </header>
  <section class="admin_section py-1">
    <div class="container">
      <div class="row">
        <!-- Doctor Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h4 class="card-title text-muted text-uppercase text-center">Doctor</h4>
              <hr>
              <h5 class="card-title text-muted text-uppercase">Search Doctor</h5>
              <form class="container" method="get" action="/doctor_profile">
                <div class="form-group">
                  <input type="text" name="email" id="email" class="form-control" placeholder="Your Email *" value="" />
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-block btn-primary bg-dark text-uppercase" value="Search" />
                </div>
                </form>
                <hr>
                <a href="create_doctor" class="btn btn-block btn-primary bg-dark text-uppercase">Create Doctor</a>
            </div>
          </div>
        </div>
        <!-- Patient Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Patient</h5>
              <hr>
              <form>
                  <h5 class="card-title text-muted text-uppercase">Search Patient</h5>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Patient ID *" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-primary bg-dark text-uppercase" value="Search" />
                </div>
                </form>
                <hr>
                <a href="create_patient" class="btn btn-block btn-primary bg-dark text-uppercase">Create Patient</a>
            </div>
          </div>
        </div>
        <!-- Category Tier -->
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Category</h5>
              <hr>
              <form>
                  <h5 class="card-title text-muted text-uppercase">Search Category</h5>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Category Name*" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-primary bg-dark text-uppercase" value="Search" />
                </div>
                </form>
                <hr>
                <a href="create_category" class="btn btn-block btn-primary bg-dark text-uppercase">Create Category</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('partials/footer'); %>
  </body>
  </html>