<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>

<!-- Header -->
<%- include('partials/header_user'); %>
<header class="bg-dark py-5 mb-4">
    <div class="container">
      <h2 class="font-weight-bold text-white text-uppercase">Patient Name</h2>
      <!--This is where the other info about the doctor will go.-->
    </div>
  </header>
  <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li> <a href="#">Patient item 1</a> </li>
                <li> <a href="#">Patient item 2</a> </li>
                <li> <a href="#">Patient item 3</a> </li>
                <li> <a href="#">Patient item 4</a> </li>
                <li> <a href="#">Patient item 5</a> </li>
                <li> <a href="#">Patient item 6</a> </li>
                <li> <a href="#">Patient item 7</a> </li>
            </ul>
        </div>
         <div id="page_content_wrapper">
            <div class="container-fluid"></div>
            <div class="row">
                <div class="col-lg-12">
                    <a href="#" class="btn btn-block btn-primary bg-dark text-uppercase" id="toggle-menu">Toggle Menu</a>
                </div>
            </div>
         </div> 
    </div>

  <script>
        $('#toggle-menu').click(function(e) {
            e.preventDefault();
            $('#wrapper').toggleClass('menuDisplayed');
        });
    </script>
  </body>
  </html>